<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>blog-local</title>
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
  <!-- Add `node_modules/` to global paths so `require` works properly in development -->
  <script>
    require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
  </script>
  <% } %>
  <style>
    /*  去除body的边距，平滑滚动  */
    body {
      margin: 0px;
      padding: 0px;
      scroll-behavior: smooth;
    }
    /*Chrome 修改滚动条样式*/
    ::-webkit-scrollbar {
      width: 20px;
      height: 8px;
      overflow: auto;
      float: left;
      margin: 0 10px;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: #666;
    }

    ::-webkit-scrollbar-track {
      background: #ddd;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <!-- Set `__static` path to static files in production -->
  <% if (!process.browser) { %>
  <script>
    if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
  </script>
  <% } %>

  <!-- webpack builds are automatically injected -->
</body>

</html>